@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #242424;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
  height: 100%;
  width: 100%
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*::before,
*::after {
  box-sizing: border-box;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*Pages*/
.page-header {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}

.logo {
  width: 138px;
  display: block;
  margin-bottom: -10px;
  position: relative;
  margin-right: 30px;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 132px;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 310px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.navigation-list-item {
  position: relative;
}

.navigation-user-list .navigation-list-link {
  display: flex;
  min-width: 44px;
  min-height: 64px;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation-list-link:hover:not(.navigation-list-link-current) {
  opacity: 0.5;
}

.navigation-list-link:focus:not(.navigation-list-link-current) {
  outline: 2px solid #4682b4;
}


.navigation-list-link:active:not(.navigation-list-link-current) {
  background-color: lightsteelblue;
}

.navigation-list-link-current::after {
  content: "";
  height: 0;
  border-bottom: 2px solid #756257;
  position: absolute;
  bottom: 0;
  right: 16px;
  left: 16px;
}

.navigation-margin {
  margin-right: 24px;
}

.counter {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  right: 4px;
  font-size: 10px;
  top: 11px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
}

.navigation-list-link {
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 19px;
  position: relative;
}

.navigation-list-link-mimic-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  width: 160px;
  min-height: 36px;
  border: none;
  padding: 8px 34px;
  display: block;
  box-sizing: border-box;
}

 .navigation-list-link-mimic-button:hover,
 .navigation-list-link-mimic-button:focus {
  background-color: #615048;
 }

 .navigation-list-link-mimic-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
 }

 .navigation-list-link-mimic-button:disabled {
  background-color: #e5e5e5e5;
 }

.main-container {
  flex-grow: 1;
}

/* main-index */
.main-index {
  color: #000000;
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/white-boarder.svg"), url("../images/index-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat no-repeat;
  background-position: bottom, center;
  background-color: #468284;
  color: #ffffff;
  text-align: center;
  /*1200px 485px;*/
 padding: 51px 150px 82px;
}

.hero-image {
  display: block;
  width: 458px;
  margin: 0 auto;
}

/*List*/
.navigation-list-item,
.advantages-list-item,
.services-list-item,
.advantages-list-item-blue,
.advantages-list-item-light-grey,
.advantages-list-item-dark-grey,
.services-list-item-dark-grey {
  list-style: none;
}

.advantages {
  padding-top: 69px;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.margin-lead {
  margin-bottom: 20px;
}

.lead-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 651px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  padding-bottom: 45px;
}

/* Преимущества */
.advantages-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 34px;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-list-item-blue {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
}

.advantages-title-blue {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-blue::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantages-description-blue {
  text-align: center;
  color: #ffffff;
}

.advantages-list-item-blue-reverse {
  flex-direction: row-reverse;
}

.advantages-list-item-light-grey {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-list-item-dark-grey {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-container {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.image0 {
  width: 800px;
}

/*Услуги*/
.services-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.services {
  padding-top: 64px;
}

.services-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: -33px;
}

.services-title::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services-title-home::before {
  background-image: url("../images/home.svg");
}

.services-title-food::before {
  background-image: url("../images/food.svg");
}

.services-title-gift::before {
  background-image: url("../images/gift.svg");
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

 .services-list-item {
  width: 400px;
 }

.services-list-item-dark-grey {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.hotels-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px;
  text-align: center;
}

.lead-tytle-hotels-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: -24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -14px;
  padding-bottom: 44px;
}

.lead-description-hotels-search {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: -11px;
  margin-bottom: 55px;
}

.hotels-search-link-mimic-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.hotels-search-link-mimic-button:hover,
.hotels-search-link-mimic-button:focus {
  background-color: #615048;
}
.hotels-search-link-mimic-button:active {
  color: rgba(255, 255, 255, 0.3) ;
  background-color: #756157;
}

.hotels-search-link-mimic-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

/* Footer */
.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.background-main {
  background-image: url("../images/subbackground.jpg");
  background-size: 1200px 415px;
  background-repeat: no-repeat;
}

.mailing-list-subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 84px;
}

.mailing-list-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.mailing-title-text-color {
  color: #ffffff;
}

.mailing-list-subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.mailing-description-text-color {
  color: #ffffff;
}

.mailing-list-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  padding: 8px 10px;
  cursor: pointer;
}

.mailing-list-button:hover,
.mailing-list-button:focus {
  background-color: #68a2ca;
}

.mailing-list-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.mailing-list-button:disabled {
  background-color: #e5e5e5;
}

.mailing-list-subscribe-form {
  display: flex;
  align-items: center;
  padding: 28px 20px;
  justify-content: center;
}

.field {
  width: 452px;
  height: 52px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  color: #000000;
  padding: 5px 10px 5px 20px;
}

.field:hover {
  outline: 2px solid #68a2ca;
  border-radius: 4px;
}

.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.page-footer-social-list {
  max-width: 190px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 720px;
}

.social-svg-icon {
  fill: #83b3d3;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
  outline: none;
}

.social-svg-icon-academy {
  fill: #000000;
}

.htmlacademy-logo:hover svg,
.htmlacademy-logo:focus svg {
  fill: #756157;
}

.htmlacademy-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}


/* Каталог */
.inner-main {
  color: #000000;
  background-color: #ffffff;
}

.hotel-types-catalog {
  color: #ffffff;
  background-image: url("../images/filterbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 57px;
  width: 1060px;
  margin: 0 auto;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  line-height: 21px;
  text-decoration: none;
  display: block;
}

.breadcrumbs-home-button {
  background-image: url("../images/homelink.svg");
  background-repeat: no-repeat;
  background-size: 13px 15px;
  background-position: center;
  display: block;
  margin: 0;
  width: 15px;
  height: 15px;
  padding: 0;
}

.breadcrumbs-home-button:hover {
  opacity: 0.6;
}

.breadcrumbs-list:not(:last-child)::after {
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 8px;
  height: 10px;
  margin-right: 11px;
  margin-left: 11px;
}

/* Список гостиниц с чекбоксами */

.catalog-filter-form {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 50px;
  width: 170px;
}

.price {
  width: 300px;
  align-self: flex-start;
  margin-left: 71px;
  margin-right: 58px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  color: #ffffff;
  margin-bottom: 16px;
}

.catalog-price-filter-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
}

/* чекбоксы и радио кнопки */
.control-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.control {
  position: relative;
  display: block;
  padding-left: 20px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content:"";
  background-image: url("../images/catalogcheck.svg");
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 10px;
}

.control:hover {
  opacity: 0.5;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83d3d3;
}

.control-input:active + .control-mark {
  outline: 2px solid #83d3d3;
}

.control-input:disabled + .control-mark {
  background-color: rgba(0, 0, 0, 0.25);
}

.control-label {
  margin-left: 16px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

/* кнопки в каталоге */
.catalog-button-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 56px;
}

.button-blue {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  padding: 8px 50px;
  width: 191px;
  margin-bottom: 32px;
  cursor: pointer;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.button-reset {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(0,0,0,0);
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 50px;
  width: 191px;
  border: none;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
color: rgba(255, 255, 255, 0.1);
}

/* Список с ползунками */
.range-inputs {
  display: flex;
}

.catalog-min-price,
.catalog-max-price {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  border-width: 0;
  background-color: #f2f2f2;
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  appearance: textfield;
  box-sizing: border-box;
}

.catalog-min-price {
  margin-right: 2px;
  border-radius: 0 4px 4px 0;
}

.catalog-max-price {
  border-radius: 0 4px 4px 0;
}

.catalog-min-price:hover,
.catalog-max-price:hover {
  background-color: #e6e6e6;
}

.catalog-min-price:focus,
.catalog-max-price:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.catalog-min-price:active,
.catalog-max-price:active {
  outline: 2px solid #000000;
}

.catalog-min-price:disabled,
.catalog-max-price:disabled {
  background-color: #e5e5e5;
}

.catalog-min-price::-webkit-outer-spin-button,
.catalog-min-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-max-price::-webkit-outer-spin-button,
.catalog-max-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-to {
  line-height: 24px;
  font-weight: 400;
  opacity: 0.3;
  color: #000000;
  position: absolute;
  top: 10px;
  right: 20px;
  align-items: center;
  text-align: right;

}  /* не понимаю куда они улетают */

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #424040;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}


/* Переключение вида карточек */
.hotel-cards-show-types {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  width: 160px;
  gap: 8px;
}

.button-image-show-type {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-image-show-type:hover {
  border: 2px solid  #000000;
}

.button-image-show-type:focus-visible {
  border: 2px solid #68a2ca;
}

.button-image-show-type:active {
  border: 2px solid #000000;
}

.button-image-current {
  border-color: #000000;
}

.button-image-tile {
  background-image: url("../images/tile.svg");
}

.button-image-monitor {
  background-image: url("../images/monitor.svg");
}

.button-image-list {
  background-image: url("../images/list.svg");
}

/* Section hotels */
.cards-types-container {
  display: flex;
}

.hotels {
  width: 1060px;
  margin: 0 auto;
}

.search-card-types {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 50px;
}

.search-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  max-width: 350px;
}

.select {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  min-height: 49px;
  padding: 12px 20px;
  padding-right: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  cursor: pointer;
  margin-left: auto;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  outline: none;
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.hotel-cards-show-types {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  width: 160px;
  list-style: none;
}

/* Отели */

.hotel-cards {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3,340px);
  gap: 16px;
  margin-bottom: 80px;
}

.hotel-cards-img {
  width: 300px;
  padding-bottom: 16px;
  margin-bottom: -17px;
  margin-top: 2px;
}

.hotel-cards-item {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 140px 140px;
  padding: 20px;
  gap: 16px;
  border-radius: 4px;
  outline: 1px solid #E6E6E6;
  align-items: center;
}

 .hotel-cards-link {
  text-decoration: none;
  color: #000000;
  grid-row: 1/2;
  grid-column: 1/-1;
 }

.hotel-cards-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: -1px;
  margin-top: 16px;
}


.hotel-cards-type {
  color: #333333;
  margin: 0;
}

.hotel-cards-price {
  color: #333333;
  text-align: right;
  margin: 0;
}

.hotel-cards-mimic-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
}

.hotel-cards-mimic-button:hover,
.hotel-cards-mimic-button:focus {
  background-color: #615048;
}

.hotel-cards-mimic-button:active {
  background-color: #e5e5e5;
}

.hotel-cards-mimic-button:disabled {
  background-color: #e5e5e5;
}

.hotel-cards-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
  border: none;
  padding: 8px 17px;
  cursor: pointer;
  border-radius: 4px;
}

.hotel-cards-button:hover,
.hotel-cards-button:focus {
  background-color: #68a2ca;
}

.hotel-cards-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-cards-button:disabled {
  background-color: #e5e5e5;
}

.button-favourite {
  background: #7db54f;
}

.button-favourite:hover,
.button-favourite:focus {
  background-color: #6c9e42;
}

.button-favourite:disabled {
  background-color: #e5e5e5;
}

.hotel-cards-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px;
  box-sizing: border-box;
  margin: 0;
}

.hotel-cards-stars {
  background-image: url("../images/stars.svg") ;
  background-repeat: space;
  height: 17px;
  width: 140px;
  margin: 0;
}

.stars-2 {
  width:42px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.stars-3 {
  width: 67px;
  margin-left: -2px
}

.stars-4 {
  width: 89px;
  margin-bottom: 4px
}

.img-margin-zero {
  margin-left: 3px;
}

.img-margin-first {
  margin-left: 2px;
}

.price-margin-first {
  margin-right: -8px;
}

.mimic-button-margin-first {
  margin-left: 2px;
}

.title-margin-second {
  margin-left: -2px;
}

.padding-item {
  padding-left: 30px;
}

.padding-item-first {
  padding-left: 25px;
}

.padding-item-second {
  padding-left: 22px;
}

.padding-item-third {
  padding-left: 22px;
}

.img-margin-third {
  margin-left: 11px;
}

/*Pagination */

.page-pagination {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 12px 12px;
  box-sizing: border-box;
  text-align: center;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination-link-next {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}

.pagination-link:hover:not(.pagination-current):not(.pagination-link-next),
.pagination-link:focus:not(.pagination-current):not(.pagination-link-next) {
  background-color: #68a2ca;
}

.pagination-link:active:not(.pagination-link-current) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-next:hover {
  background-color: #f2f2f2;
}

.pagination-link-next:focus {
  background-color: #e5e5e5;
  color:rgba(0, 0, 0, 0.3);
}

/* модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-content {
  width: 577px;
  height: 448px;
}

.modal-search {
  position: relative;
  margin: auto;
  padding: 74px 72px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 717px;
  height: 576px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 20px;
  top: 65px;
  right: 52px;
  width: 52px;
  height: 52px;
  background: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/crossmodal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus:not(:active) {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3 ;
}

.modal-title {
  margin: 0;
  margin-bottom: 65px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: -8px;
}

/*.close {
  display: none;
}*/

.arrival-form {
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
}

.form-label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
}

.calendar-field {
  display: flex;
  width: 440px;
  min-height: 48px;
  border: none;
  background: #f2f2f2;
  border-radius: 4px;
  background-image: url("../images/calendar-modal.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.field-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.button-minus {
  appearance: textfield;
  width: 40px;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-plus,
.button-minus {
  width: 40px;
  height: 48px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}


.calendar-field:hover {
  background-color: #e6e6e6;
}

.calendar-field:focus {
  outline: 3px solid #000000;
}

.calendar-field:active,
.calendar-field:not(:placeholder-shown){
  outline: 3px solid #000000;
}

.calendar-field:not(:placeholder-shown):not(:focus){
  outline: none;
}

.count-field:hover {
  background-color: #e6e6e6;
}

.count-field:focus {
  outline: 3px solid #000000;
}

.count-field:active,
.count-field:not(:placeholder-shown){
  outline: 3px solid #000000;
}

.count-field:not(:placeholder-shown):not(:focus){
  outline: none;
}

.count-field::-webkit-outer-spin-button,
.count-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button-plus:hover,
.button-minus:hover {
  opacity: 0.3;
}

.button-plus:active,
.button-minus:active {
  opacity: 0.3;
}

.button-plus:focus:not(:active),
.button-minus:focus:not(:active) {
  opacity: 1;
  outline: 3px solid #82b3d3;
}

.count-field {
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 31px;
  height: 48px;
  padding: 14px 10px;
  margin: 0;
  border: none;
  box-sizing: border-box;
  -moz-appearance: textfield;
  font-family: "PT Sans", sans-serif;
}

.modal-button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 8px 26px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 22px;
}


.modal-sumbit {
  display: block;
  width: 577px;
  min-height: 60px;
  margin-left: 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 18px 257px;
  border-style: none;
  border-radius: 10px;
  background: #83B3D3;
}

.form-message {
  display: flex;
  flex-wrap: wrap;
  min-width: 331px;
  min-height: 21px;
  margin-left: 137px;
  margin-top: 4px;
}

.form-message-correct {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.form-message-error {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.input-buttons {
  position: relative;
  display: flex;
  height: 48px;
  width: 110px;
  margin-left: 46px;
}

.field-group-half-adults {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
}

.field-group-half-child {
  margin-right: 38px;
}

.tooltip {
  position: absolute;
  margin-left: 47px;
  width: 256px;
  min-height: 152px;
  margin-top: 9px;
}

.tooltip-toggle {
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  margin-left: 11px;
  display: flex;
  background-image: url("../images/i-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding-top: 4px;
  padding-left: 6px;
}

.tooltip-toggle:hover .tooltip-icon {
  color: rgba(131, 179, 211, 0.2);
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  position: absolute;
  margin-bottom: 7px;
  left: 27px;
  top: 41px;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/tooltiparrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-sumbit:hover,
.modal-sumbit:focus {
  background-color: #68a2ca;
}

.modal-sumbit:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-sumbit:disabled {
  background-color: #e5e5e5;
}
